.content {
    max-width: 700px;
    margin: auto;
}
.black {
    color: black;
}
.blue {
    color: dodgerblue;
}
.red {
    color: tomato;
}
.blackborder {
    border: 2px solid black;
}
.blueborder {
    border: 2px solid dodgerblue;
}
.redborder {
    border: 2px solid tomato;
}
.blackbc {
    background-color: black;
}
.bluebc {
    background-color: dodgerblue;
}
.redbc {
    background-color: tomato;
}
a {
    color: blue;
    font-family: lucida console;
    text-decoration: none;
}
.box {
    background-color: whitesmoke;
    font-family: Georgia;
    padding: 40px;
}
.header {
    font-family: tahoma;
    text-align: center;
}
.center {
    text-align: center;
}
.columnleft {
    float: left;
    width: 66%;
}
.columnright {
    float: right;
    width: 30%;
}
.row:after {
    content: " ";
    display: table;
    clear: both;
}
.button {
    border: none;
    border-radius: none;
    color: white;
    font-family: tahoma;
    font-size: 16px;
    padding: 12px 30px;
    text-align: center;
}
