.content {
    max-width: 800px;
    margin: auto;
}
.black {
    color: black;
}
.blue {
    color: dodgerblue;
}
.red {
    color: tomato;
}
.blackborder {
    border: 2px solid black;
}
.blueborder {
    border: 2px solid dodgerblue;
}
.redborder {
    border: 2px solid tomato;
}
.blackbc {
    background-color: black;
}
.bluebc {
    background-color: dodgerblue;
}
.redbc {
    background-color: tomato;
}
a.emph {
    color: blue;
    font-family: lucida console;
}
.box {
    background-color: whitesmoke;
    font-family: Georgia;
    padding: 30px;
    padding-bottom: 20px;
}
.header {
    font-family: tahoma;
    text-align: center;
}
.center {
    text-align: center;
}
.columnleft {
    float: left;
    width: 66%;
}
.columnright {
    float: right;
    width: 30%;
    max-width: 30%;
}
.row:after {
    content: " ";
    display: table;
    clear: both;
}
.button {
    border: none;
    border-radius: none;
    font-family: tahoma;
    font-size: 20px;
    padding: 12px 50px;
    max-width: 100%;
    text-align: center;
}

/** INDEX */

#about-box>p {
    text-align: center;
}

#about-box a {
    text-decoration: none;
}

#about-box>.profile-div {
    width: 100%;
    text-align: center;
}

#about-box>.profile-div>img {
    border: 5px solid white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/** PROJECTS */
.project-image {
    width: 100%;
    padding-bottom: 12pt;
}
.project-tabs>button {
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;;
}
#project-box {
    color: black;
}
#project-box a {
    color: dodgerblue;
    text-decoration: none;
}
#project-box p {
    text-align: justify;
}
#menu {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}
.big-profile {
    border: 10px solid white;
    height: 180px;
    border-radius: 50%;
}
.profile {
    border: 5px solid whitesmoke;
    height: 40px;
    border-radius: 50%;
}
td.tag {
    user-select: none;
    font-size: 11pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 180px;
    max-width: 180px;
}
td.tag:hover {
    font-weight: bold;
    cursor: pointer;
}
td.tag-right-column {
    text-align: right;
    width: 30px;
    max-width: 30px;
}
#tag-project-box>.image-bar {
    display: flex;
    justify-content: right;
}
#tag-project-box>.image-bar>img, #tag-project-box>.image-bar>a, #project-box>.image-bar>img {
    height: 30px;
    padding-left: 10px;
}
#tag-project-box>.image-bar>a>img {
    height: 100%;
}
#tags {
    position: fixed;
    bottom: 30px;
}
#project-highlights {
    position: fixed;
    /* top: 72px; */
    bottom: 50%;
}
.project-small-info:hover {
    cursor: pointer;
}