.summary {
    --padding-vertical: 25px;
    --padding-horizontal: 20px;
    --portrait-width: min(30%, 160px);
    --portrait-height: calc(var(--portrait-width) * 472 / 354);

    font-family: var(--serif);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);

    & .portrait {
        width: var(--portrait-width);
        height: var(--portrait-height);
        border-radius: 5px;
    }

    & .content {
        --margin-horizontal: 18px;

        flex: 1;
        margin-left: var(--margin-horizontal);
        margin-right: var(--margin-horizontal);
    }
}
