.summary {
    --padding-horizontal: 20px;
    font-family: var(--serif);
    display: flex;
    align-items: center;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);

    & .portrait {
        border-radius: 20% !important;
    }
    & .content {
        flex: 1;
    }
    & .full-name {
        font-size: var(--medium-font);
        color: var(--text)
    }
}

@media (width > 700px) {
    .summary {
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .portrait {
        width: min(30%, 8rem);
    }
    .content {
        --margin-horizontal: 25px;
        flex: 1;
        margin-left: var(--margin-horizontal);
        margin-right: var(--margin-horizontal);
    }
}

@media (width <= 700px) {
    .summary {
        flex-direction: column;
    }
    .portrait {
        width: min(50%, 10rem);
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
}
