html {
    --border-radius: 10px;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

    & .project-small {
        --local-width: 200px;
        --padding-horizontal: 5px;
        --margin-vertical: 5px;

        display: flex;
        flex-direction: column;
        border-radius: var(--border-radius);
        padding-top: calc(var(--padding-horizontal) * 1.2);
        padding-left: var(--padding-horizontal);
        padding-right: var(--padding-horizontal);
        width: var(--local-width);
        margin-top: var(--margin-vertical);
        margin-bottom: var(--margin-vertical);
        transition: 0.3s;

        & img {
            width: var(--local-width);
            height: var(--local-width);
            object-fit: cover;
            border-radius: var(--border-radius);
        }

        & .project-title {
            font-size: calc(var(--medium-font) * 0.8);
            width: var(--local-width);
            text-align: center;
        }
    }

    & .project-small:hover {
        background-color: var(--bg-important);
    }

    & .project-small-starred:hover {
        background-color: var(--primary);
    }

    & .project-small-good:hover {
        background-color: var(--secondary);
    }
}

@media (width <= 700px) {
    .project-container {
        flex-direction: column;
    }

    .project-small {
        margin: auto;
        width: 90% !important;

        & img {
            margin: auto;
            width: 90% !important;
            height: calc(2 * var(--local-width)) !important;
        }
    }

    .project-title {
        width: 100% !important;
    }
}

#modal {
    --border-radius: calc(var(--good-small-height) * 0.5);

    & .modal-background {
        position: fixed;  /* Positioned relative to the viewport */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--bg-important);
        opacity: 0.8;
    }

    & .modal-content {
        --position-vertical: min(8%, calc(var(--good-small-height) * 3));
        --padding-horizontal: calc(var(--border-radius) * 2);

        position: fixed;
        opacity: 1;
        overflow-y: auto;
        scrollbar-width: none;
        border: var(--border);
        border-radius: var(--border-radius);
        top: var(--position-vertical);
        bottom: var(--position-vertical);
        right: min(20%, var(--good-small-height));
        width: 320px;
        background-color: var(--bg);
        font-size: var(--small-font);

        & #modal-image {
            border-radius: var(--border-radius);
            width: 100%;
            height: 200px;
            object-fit: cover;
            padding-top: calc(var(--border-radius) * 2);
            padding-bottom: var(--border-radius);
        }

        & .modal-row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: var(--padding-horizontal);
            padding-right: var(--padding-horizontal);
            & p {
                margin-bottom: calc(var(--good-small-height) * 0.2);
            }
        }

        & #modal-title {
            font-size: var(--medium-font);
            font-weight: bold;
        }

        & #modal-time {
            font-size: var(--small-font);
            font-style: italic;
            text-align: right;
            padding-bottom: 10px;
        }

        & #modal-bullets {
            padding-top: 10px;
        }

        & .modal-skills-container {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        & p {
            padding-left: var(--padding-horizontal);
            padding-right: calc(var(--padding-horizontal));
            padding-top: 10px;
            margin: 0;
        }

        & #modal-github-stats {
            user-select: none;
        }
        
        & .modal-github-stats-item {
            display: flex;
            flex-direction: row;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            font-family: var(--sans-serif);
            font-size: calc(0.8 * var(--small-font));
        }
        
        & .modal-github-stats-icon {
            opacity: 0.8;
            width: 1rem;
            height: 1rem;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
        }
        
        & .modal-github-stats-count {
            height: 1rem;
            line-height: 1rem;
            padding-left: 0.4rem;
            padding-right: 0.4rem;
            padding-top: calc(0.1 * var(--small-font));
            padding-bottom: calc(0.1 * var(--small-font));
        }
    }
}